/*Override class Container in bootstrap*/
@media (min-width: 1200px){
	.home .container {
		width: 1170px;
	}
	.col-lg-8 {
    	width: 71.794%;
	}
	#contact-detail .col-lg-4 {
		float: left;
	}
	.site-member .col-lg-4 {
		width: 33.33333333%;
		float: left;
	}
}

/*Responsive Device*/
@media only screen and (max-width: 1199px ) and (min-width: 1025px) {
	.sign_up_btn {
		font-size: 12px;
		padding: 16px 11px 15px 7px;
	}
	.wrap-contact-header .call-contact,
	.wrap-contact-header .mail-contact {
		width: 50%;
		padding: 0 0 20px 0;
		text-align: center;
	}
	.main-navigation .navbar-nav li a {
    	font-size: 12px;
    }
    .site-branding .logo {
	    padding: 10px;
	}
	.site-branding .logo img {
	    display: block;
	}
}
@media (max-width: 1199px) {
	.navbar-toggle {
		margin-right: 0px;
    	background: #36a8ff;
    	margin-top: 15px;
	}
	.wrap-contact-header .mail-contact {
		border: none;
	}
	.wrap-contact-header .mail-contact,
	.wrap-contact-header .call-contact {
		width: auto;
	    padding: 10px 0 10px 30px;	    
	}
}
@media (max-width: 1024px) {
	.c-overlay-content {
		display: none;
	}
	.latest-blog .latest-blog-caption {
		opacity: 1;
	}
	.latest-blog .latest-blog-caption .c-overlay-content {
		display: none;
	}
	.latest-blog .project-title {
    	font-size: 18px;
    	text-align: center;
    	margin: 0;
	}
	.latest-blog-caption {
    	background: rgba(240,95,64,.3);
    	padding: 8%;
    }
	.navbar-default .navbar-toggle .icon-bar {
		background-color: #fff;
	}
	.custom-mobile-menu {
	    float: left;
	    width: auto;
	    padding-right: 0;
	}
	.post-thumbnail {
		width: 280px;
	}	
	.copyright p,
	.nav-footer {
		text-align: center;
	}
	.nav-footer {
	    padding: 30px 0 10px;
	    width: 100%;
	}		
	footer .social-area,
	.copyright {
		padding: 10px 0;
	    width: 100%;
	    text-align: center;
	}
	.post-entry-data {
		width: 284px;
	}
	.contact-detail.section-content {
		padding: 0;
		clear: both;
	}
	.feature-service-box h3 {
		line-height: 38px;
		font-size: 18px;
		margin: 10px 0;
    	padding: 15px 0;
    	padding-left: 85px;
	}
	.wrapper-service-slide:hover .customNavigation .owl-next {
		right: -25px;
	}
	.wrapper-service-slide:hover .customNavigation .owl-prev {
		left: -25px;
	}
}
@media (max-width: 1024px) {
	.site-header .site-branding a,
	.site-title a {
		font-size: 26px !important;
    	padding: 8px;
	}
	.site-header .navbar-fixed-top .primary-navigation {
		padding: 0;
	}
	.site-header.sticky .navbar-header {
		padding: 10px 0;
	}
	.site-title.logo.smaller-img img {
		height: inherit;
	}
	.site-title.logo.smaller-img {
		padding: 10px 0;
	}	
	.primary-navigation ul, .secondary-navigation ul {
       	display: none;
    }
    .mobile-only.toggle-mobile-menu {
     	display: none;
    }
    .navbar-header {
		padding: 0;
	}
    .site-branding .logo {
    	padding: 14px 0;
	}
    .toggle-mobile-menu {
		display: block;
		margin: 7px 0;
		-webkit-transition: all 0.25s linear;
		   -moz-transition: all 0.25s linear;
		   		transition: all 0.25s linear;
	}
	.site-header .primary-navigation {
		float: none;
		padding: 0;
	}
	.main_sign:after {
		display: none;
	}
	#mobile-menu-wrapper .arrow-sub-menu,
	#menu-main-menu ul .menu-item-has-children .arrow-sub-menu {
	    color: #ffffff;
	    text-align: center;
	    display: block;
	    position: absolute;
	    right: 0;
	    top: 0;
	    padding: 15px 16px 15px 20px;
	    -webkit-transition: all 0.25s linear;
	    -moz-transition: all 0.25s linear;
		transition: all 0.25s linear;
	}
	#menu-main-menu ul .menu-item-has-children .arrow-sub-menu {
		bottom: 0;
		margin-top: 0;
		right: 0;
	}
	#mobile-menu-wrapper  {
	    position: fixed;
	    top: -1px;
	    left: 0;
	    width: 75%;
	    height: 100%;
	    min-height: 100%;
	    max-height: 100%;
	    overflow: scroll;
	    background: #f3f2f2;
	    -ms-transform: translate(-100%,0);
	    -webkit-transform: translate(-100%,0);
	    transform: translate(-100%,0);
	    -webkit-transition: -webkit-transform 500ms ease;
	    transition: transform 500ms ease;
	    overflow-x: hidden;
	}
	#mobile-menu-wrapper {
		margin: 0;
	}
	#mobile-menu-wrapper {
		background-color: #1d1e20;
	}
	.mobile-menu-active #mobile-menu-wrapper  {
		z-index: 9999;
		-ms-transform: translate(-100%,0);
		-webkit-transform: translate(-100%,0);
		transform: translate(-100%,0);
	}
	.mobile-menu-active #mobile-menu-wrapper {
		-ms-transform: translate(0,0);
		-webkit-transform: translate(0,0);
		transform: translate(0,0);
	}
	#mobile-menu-wrapper .toggle-mobile-menu {
	    background: #006dda;
	    display: block;
	    padding: 10px;
	    margin: 0;
	    text-decoration: none;
	    font-size: 16px;
	    color: #ffffff;
    }
    #mobile-menu-wrapper .mobile-only {
       	width: auto;
       	height: auto;
    }
    #mobile-menu-wrapper .mobile-only .fa {
       	text-align: left;
       	float: left;
       	margin: 3px 3px 5px 3px;
    }   
    #mobile-menu-wrapper .mobile-only .fa-close {
       	display: inline;
       	float: right;
    }
    .navbar-collapse {
       	padding-left: 0;
       	padding-right: 0;
    }
    .navbar-nav {
   		margin: 0;
    }
    #mobile-menu-wrapper .mobile-menu > ul {
       	border-bottom: 1px solid #323234;
    }
    #mobile-menu-wrapper ul {
   		width: 100%;
    }
   	#mobile-menu-wrapper ul li {
	   	float: none;
	   	border-top: 1px solid #323234;
	   	border-bottom: 1px solid #0F0D0D;
	   	list-style: none;
    }
    #mobile-menu-wrapper ul li a {
	   	color: #ffffff;
	   	line-height: normal;
	   	padding: 10px 14px;
	   	display: block;
    }
    #mobile-menu-wrapper ul li:hover > ul,
    #mobile-menu-wrapper ul ul li:hover > 
       ul, #mobile-menu-wrapper ul ul {
       	display: none;
       	position: static;
       	border-top: 1px solid #0F0D0D;
       	padding: 0;
       	margin: 0;
    }       
    #mobile-menu-wrapper ul ul li a {
       	padding: 12px 40px;
       	position: relative;
    }	
    #mobile-menu-wrapper ul ul ul li a {
       	padding: 12px 60px;
    } 
    #mobile-menu-wrapper ul ul ul ul li a {
       	padding: 12px 80px;
    }   
	.nav > li > a:focus, .nav > li > a:hover {
		background-color: transparent;
	}
	ul.menu li.menu-item-has-children i {
		font-size: 14px;
	}
	#mobile-menu-wrapper ul ul li:last-child {
		border-bottom: none;
	}
	.wrap-box-list {
	    max-width: 850px;
	}
	.clean-list li {
	    width: 170px;
	    margin-top: -80px;
	}
	.facility-title {
		font-size: 14px;
	}
	.copyright a,
	.copyright .sep {
		float: none;
	}
	.tc-team-member {
	    min-height: 350px;
	}
}
@media (min-width: 992px) {
	.service-box {
		margin: 20px auto 0;
 	}
}
@media (max-width: 790px) and (min-width: 769px)  {
	.nav > li > a {
		padding: 10px 13px;
	}
}
@media (min-width: 768px) {
	.navbar-header h1 {
		margin-top: 0;
	}
	.nav-menu li,	
	.navbar-nav>li {
		float: left;
	}	
	.intro-banner .header-content {
		position: absolute;
		top: 50%;
		padding: 0 15px;
		-webkit-transform: translateY(-50%);
		transform: translateY(-50%);
	}
	.intro-banner .header-content .header-content-inner {
		margin-left: auto;
		margin-right: auto;
		max-width: 1000px;
	}
	.intro-banner .header-content .header-content-inner p {
		max-width: 80%;
		margin-left: auto;
		margin-right: auto;
		font-size: 22px;
		text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
	}
	section .intro-dis {
	    font-size: 18px;
	    color: #333;
	}
	.latest-blogs-section p {
		font-size: 14px;
		margin-bottom: 15px;
	}
	.sticky .toggle-mobile-menu {
		margin: 11px 0;
	}	
}
@media (max-width: 768px) {
    .site-header .site-branding {
	    width: 100%;
	    padding: 10px;
	    text-align: center;
	}
    .site-header .site-branding a, .site-title a {
	    float: none;
	    margin: 0;
	}
	.facility-item {
	    padding: 16%;
	}
	.navbar-fixed-top .toggle-mobile-menu {
		margin: 10px 0;
	}
	#welcome-business .container > .row {
		margin: 0;
	}
	body.page-template-page-contact section.map-section.section-map {
		padding: 93px 0 0;
	}
	.feature-service-box h3 {
		line-height: 30px;
	    font-size: 17px;
	    margin: 10px 0;
	    padding: 22px 0;
	    padding-left: 85px;
	}
	.wrapper-service-slide:hover .customNavigation .owl-next {
		right: -6px;
	}
	.wrapper-service-slide:hover .customNavigation .owl-prev {
		left: -6px;
	}
	.latest-blog {
		padding: 0;
    	max-width: 100%;
	}
	.wrap-box-list {
		margin-top: 0;
		padding: 0;
	    max-width: 100%;
	}
	.clean-list li {
	    width: 28%;
	    margin-top: 0;
	}
	.nav > li > a {
		padding: 7px 10px;
	}
	.welcome-business .facility-item img {
	    min-width: 100%;
	}
	.navbar-header h2,
	.navbar-header h3{
		text-align: center;
	}
	.widget-area {
		width: 100%;
		padding-top: 50px;
	}
	.nav-footer {
		padding: 10px 0;
        text-align: center;
        width: 100%;
	}
	.social-area {
		padding: 3px 0;
    	width: 100%;
    	text-align: center;
	}
	.copyright {
		padding: 0;
		margin-bottom: 10px;
	}
	.navbar-header h1 {
		text-align: center;
	}
	.social-links-home {
		width: 100%;
    	float: none;
    	text-align: center;
	}
	.contact-info-home {
		width: 100%;
    	float: none;
    	text-align: center;
    	padding: 20px 0;
	}	
	.navbar-default .navbar-collapse {
		text-align: center;
	}
	.post-entry-data {
		width: 390px;
	}
	.site-header .navbar-fixed-top .site-title.logo {
	    padding: 5px 0;
	    display: block;
	    float: left;
	}
}
@media (max-width: 767px) {
	.tc-team-member {
	    min-height: auto;
	}
	.navbar-collapse.collapse {
		display: block;
	}
	.site-branding .logo,
	.site-branding .logo img {
		float: none;
	}
	.wrap-contact-header {
		width: 100%;
		float: left;
	}
	.wrap-contact-header .call-contact {
		float: left;
		text-align: left;
		padding: 0 0 15px 15px;
	}
	.wrap-contact-header .mail-contact {
		float: right;
		padding: 0 15px 15px 0;
	}
	.intro-banner .header-content {
		padding: 0 15px;
	}
	.main-navigation li ul {
		box-shadow: none;
		position: static;   		
	}
	.main-navigation li:hover ul {
		display: none;
	}
	.main-navigation li li {
		border-color: transparent;
	}
	.main-navigation li li a {
		border-color: transparent;
	}
	.main-navigation ul {
		text-align: left;
	}
	.post-entry-data {
		width: 376px;
	}		
}
@media (max-width: 667px) {
	.intro-banner .header-content .header-content-inner h2.tc-title {
		font-size: 50px;
	}
	.post-entry-data {
		width: 307px;
	}
	.sign_up_btn {
		margin-top: 0;
	}
	.wrapper-branding .no-sign {
		top: -72px;
	}
	.wrap-contact-header .call-contact i,
	.wrap-contact-header .mail-contact i {
		font-size: 18px;
		display: none;
	}
	.call-contact .call-us-content, 
	.mail-contact .mail-to-content {
		font-size: 14px;
	}
}
@media (max-width: 568px) { 		
	.intro-banner .header-content .header-content-inner h2.tc-title {
		font-size: 42px;
	}
	.post-thumbnail {
		width: 100%;
		float: none;
		margin: 0;
		padding: 0;
	}
	.post-thumbnail img {
		width: 100%;
	}
	.post-entry-data {
		width: 100%;
	}
	.wrapper-branding .no-sign {
		top: -72px;
	}
}
@media (max-width: 480px) {
	.wrap-contact-header .mail-contact {
		text-align: right;
	}
	.wrap-contact-header .call-contact {
	    text-align: left;
	}
	.clean-list li {
		margin-top: -109px;
	}
	#welcome-business .container  .row  .wrap-row > .row {
		margin-right: 0;
	}
	.wrapper-branding .no-sign {
		top: -73px;
	}
	.wrap-box-list {
	    margin-top: 0;
	}
	.clean-list li {
		width: 100%;
	    margin-top: 0;
	}
	.clean-list li:nth-child(even) {
		float: none;
	}
	.clean-list li {
	    width: 68%;
	}
}
@media (max-width: 414px) {
	.intro-banner {
		height: 260px;
		padding: 60px 0;
	}
	.related-post-single li {
		padding: 15px;
	}
	.related-entry .thumbnail-relate {
	    float: left;
	    width: 100%;
	    margin-right: 0;
	    display: block;
	    margin-bottom: 15px;
	}
	.related-entry .thumbnail-relate img {
		width: 100%;
	}
	.related-entry h2 a {
	    font-size: 16px;
	}
	.intro-banner .header-content .header-content-inner h2.tc-title {
	    font-size: 21px;
	}
	.wrapper-service-slide .owl-prev{
	    opacity: 1 !important;
	    left: 10px !important;
	}
	.wrapper-service-slide .owl-next {
	    opacity: 1 !important;
	    right: 10px !important;
	}
	.feature-service-box p {
		text-align: center;
	}
	.feature-service-box {
	    padding: 0 50px;
	}
	.call-contact .call-us-content, 
	.mail-contact .mail-to-content {
    	font-size: 12px;
	}
	.entry-title a {
		font-size: 23px;
	}	
	.contact-info-home i {
		display: block;
	}
	.col-xs-6 {
	    width: 100%;
	}
	.post-thumbnail {
		width: 100%;
		margin: 0 0 6px 0;
		float: none;
	}
	.post-thumbnail img {
		width: 100%;
	}		
	.site-header {
		border: none;
	}
	#about .section-title {
		font-size: 28px;
	}
	#about .text-faded {
		font-size: 19px;
	}
	.downloads a {
		margin-bottom: 10px;
	}
	.feature-service-box .service-box-shape:before {
		width: 60px;
		height: 60px;
	}
	.feature-service-box .service-box-shape a {
		width: 50px;
		height: 50px;
	}
	.feature-service-box .service-box-shape a .fa {
		font-size: 24px;
	}
	.feature-service-box h3 {
		font-size: 18px;
		margin: 6px 0;
		padding: 15px 0;
		padding-left: 72px;
	}
	.sign_up_btn {
	    margin-top: 0;
	    padding: 8px 2px;
	    font-size: 10px;
	}
	.wrapper-branding .no-sign {
		top: -84px;
	}
}
@media (max-width: 375px) {
	footer .social-area .btn-social {
		font-size: 19px;
	}
	.menu-footer ul li a,
	.copyright p {
		font-size: 12px;
	}
	.post-entry-data {
    	width: 352px;
	}
	.facility-title {
		font-size: 16px;
	}
	.feature-service-box .service-box-shape:before {
		width: 50px;
		height: 50px;
	}
	.feature-service-box .service-box-shape a {
		width: 40px;
		height: 40px;
	}
	.feature-service-box .service-box-shape a .fa {
		font-size: 20px;
    	margin-top: 12px;
	}
	.feature-service-box h3 {
	    font-size: 16px;
	    margin: 5px 0;
	    padding: 11px 0;
	    padding-left: 61px;
	    line-height: 27px;
	}
}
@media (max-width: 320px) {
	.clean-list li {
	    width: 80%;
	    margin-top: 0;
	}
	.facility-title {
		font-size: 12px;
	}	
	.text-faded,
	p,
	.text-muted {
		font-size: 12px;
		margin: 0;
	}
	#about .text-faded {
		margin: 20px 0;
		font-size: 16px;
	}
	.section-title {
		font-size: 22px;
	}
	.service-box h3 {
		font-size: 20px;
	}
	.intro-banner .header-content .header-content-inner p {
		font-size: 14px;
		margin: 5px 0;
	}
	.post-entry-data {
		width: 100%
	}
	.tagcloud a {
	    font-size: 12px !important;
	}
	.post-entry-data .more-link, .nav-previous a, .nav-next a {
		padding: 8px 15px;
		font-size: 12px;
	}
	.feature-service-box p {
		font-size: 13px;
		line-height: 21px;
	}
	.feature-service-box .service-box-shape:before {
		width: 40px;
		height: 40px;
	}
	.feature-service-box .service-box-shape a {
		width: 30px;
		height: 30px;
	}
	.feature-service-box .service-box-shape a .fa {
		font-size: 14px;
		margin-top: 9px;
	}
	.feature-service-box h3 {
	    font-size: 14px;
	    margin: 5px 0;
	    padding: 11px 0;
	    padding-left: 51px;
	    line-height: 21px;
	}
	#features .customNavigation .owl-next, #features .customNavigation .owl-prev {
		width: 35px;
		height: 35px;
		line-height: 34px;
	}
	#features .customNavigation .owl-prev i,
	#features .customNavigation .owl-next i {
		font-size: 18px;
	}
	#features .customNavigation .owl-prev {
		margin-top: -9px;
	}
	.wrapper-branding .no-sign {
		top: -83px;
	}
}