/*
Theme Name: Start Biz
Theme URI: http://themecountry.com/
Author: themecountry.com
Author URI: http://themecountry.com/
Description: StartBiz is a Clean Wordpress Theme designed for agencies, start up or small business as well as freelancers that need a professional website. It has built-in portfolio page as well as flexible homepage, which are needed for corporate and business website. StartBiz load very fast and highly optimized for SEO.
Version: 1.0.0
Text Domain: StartBiz
*/

/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
/*--------------------
# Align
----------------------*/
.aligncenter {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.alignleft {
    display: inline;
    float: left;
}
img.alignleft {
    margin-top: 8px;
    margin-right: 15px;
}
.alignright {
    display: inline;
    float: right;
}
img.alignright {
    margin-top: 8px;
    margin-left: 15px;
}
figure.alignnone {
    margin-left: 0;
    margin-right: 0;
}
 /*--------------------
 # Caption
 ----------------------*/
 .wp-caption {
    margin-bottom: 1.5em;
    max-width: 100%;
}
.wp-caption img[class*="wp-image-"] {
    display: block;
    margin: 0 auto;
}
.wp-caption .wp-caption-text {
    margin: 0.8075em 0;
}
 /*--------------------
 # Form Contact
 ----------------------*/
 .form-control:focus {
    border-color: #ddd;
    -webkit-box-shadow: none;
    box-shadow: none;
 }
.tc-contact-fo ul li {
    font-size: 14px;
    display: block;
    margin-bottom: 10px;
}
.tc-contact-fo ul li .fa {
    margin-right: 3px;
    width: 20px;
}
.map-data-inner {
    padding: 10px 0;
}
.tc-contact-fo > h3 {
    margin: 0;
}
.logged-in-as a {
    color: #333;
}
.btn {
    text-transform: capitalize;
    -webkit-transition: all 0.25s linear;
       -moz-transition: all 0.25s linear;
         -o-transition: all 0.25s linear;
            transition: all 0.25s linear;
}
.contact-detail .contact-form-area .map-title {
    font-weight: 700;
    line-height: 34px;
    font-size: 33px;
    margin: 0;
    padding: 30px 0;
}
.tc-grid-item {
    float: left;
    vertical-align: top;
    width: 100%;
}
figure {
   max-width: 100%;
   margin: 1em 40px;
}
blockquote:before,
blockquote:after {
    content: "";
}
blockquote {
    quotes: "" "";
}
ol,
ul {
    list-style: none;
}
/*----------------------
# ClearBoth
-----------------------*/
.clearboth {
    display: block;
}
.clearboth:before,
.clearboth:after {
    content: "";
    visibility: hidden;
    display: block;
    font-size: 0;
    height: 0;    
}
.clearboth:after {
    clear: both;
}
/*----------------------
# Add in post
------------------------*/
.ad-left {
    float: left;
    margin: 10px 10px 10px 0;
 }
.ad-right {
    float: right;
    margin: 10px 0 10px 10px;
 }
.ad-center {
    float: none;
    margin: 10px 0 10px 0;
    text-align: center;
 }
.padding-bottom30 {
    padding-bottom: 30px;
 }
.breadcrumb {
    width: 100%;
    padding: 10px 0;
    margin: 0;
    background-color: transparent;
}
#crumbs {
    font-size: 14px;
    color: #36a8ff;
    font-style: italic;
}
#crumbs a {
    color: #404040;
}
/*----------------------
# Media Social
-----------------------*/
.sharing-top-float .tc-social-sharing {
    margin-top: 10px;
    position: fixed;
    margin-left: -60px;
    top: 185px;
    width: 38px;
    z-index: 100;
}
/*------------------------
# Element
---------------------------*/
ul {
    list-style: disc;
    margin: 0 0 25px 25px;
    padding: 0;
}

/*------------------------
# List 
--------------------------*/
dd {
    margin: 0 1.5em 1.5em;
}
/*------------------------
# Table
-------------------------*/
table {
    width: 100%;
    background-color: #fff;
    margin: 0 0 1.5em;
    border-collapse: collapse;
}
caption {
    background-color: #36a8ff;
    padding: 10px 20px;
    color: #fff;
    font-weight: bold;
}
table tr th {
    background-color: #eee;
}
table tr th,
table tr td {
    text-align: center;
    border: 1px solid rgba(51, 51, 51, 0.1);
    font-size: 16px;
    line-height: 24px;
    padding: 5px;
    color: #404040;
}
table tr td a {
    color: #222;
    font-style: italic;
}
/*----------------------
# Pagination
----------------------*/
.nav-previous {
    float: left;
    display: block;
    margin-bottom: 20px;
}
.nav-next {
    display: block;
    float: right;
    text-align: right;
}

html,
body {
    width: 100%;
    height: 100%;
}
body {
    font-family: 'Open Sans',sans-serif;
    padding-top: 0;
}
html {
    font-size: 16px;
}
.page .site-content,
.single .site-content,
.blog .site-content,
.search .site-content,
.archive .site-content {
    padding: 30px 0;
    display: block;
}
.search .site-content {
    padding-top: 0;
}
.page-template-page-contact.page-template-page-contact-php .site-content {
    padding-top: 0;
}

.archive .site-content .page-header {
    margin-top: 0;
}
.home.page .site-content,
.home .site-content {
    display: inline;
    padding: 0;
}
.search.search-results section {
    padding: 0;
}
.search.search-results .feature-contact {
    padding: 30px 0;
}
.home.page.page-template-default {
    padding-top: 0;
}
.page-template-page-contact .map-section.section-map {
    padding: 0;
    width: 100%;
    float: left;
}
.search-no-results .no-results.not-found,
.search-no-results .content-area {
    padding: 0;
}
.site-member,
.error404 section.error404 {
    padding: 30px 0;
}
hr {
    border-color: #f05f40;
    border-width: 1px;
}
hr.light {
    border-color: #fff;
}
a {
    color: #36a8ff;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}
a:hover,
a:focus {
    text-decoration: none;
    color: #3368c4;
}
img {
    height: auto;
    max-width: 100%;
    margin: 0;
    padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    line-height: 1.1;
}
p {
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 1.5;   
}
pre {
    font-family: "Courier 10 Pitch", Courier, monospace;
    overflow: auto;
    padding: 1.6em;
    word-wrap: normal;
}
section {
    padding: 100px 0;
}
.features-section {
    padding: 50px 0;
}
.member-detail .member-title:before {
    background-color: #f05f40;
}
.site-header {
    width: 100%;
}
.site-header .navbar-fixed-top .site-title.logo img {  
    max-height: 44px;
}
.navbar-collapse {
    padding-left: 0;
}
.site-header .primary-navigation {  
    max-width: 100%;
    padding: 0;
    float: left;
    -webkit-transition: all 0.2s ease-in;
       -moz-transition: all 0.2s ease-in;
            transition: all 0.2s ease-in;
}
.site-header.sticky .primary-navigation {
    padding: 0;
}
.site-header.sticky {
    padding: 0 !important;
    margin: 0;
    background-color: #fff !important;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.07);
    border: none;
}
.navbar-default {
    border-color: rgba(34,34,34,.05);
    background-color: #fff;
    -webkit-transition: all .35s;
       -moz-transition: all .35s;
            transition: all .35s;
}
.site-header .site-branding {
    float: left;
    padding: 10px 10px 10px 0;
}
.site-branding .site-title {
    margin: 0;
}
.site-branding .logo {
    padding: 20px 15px 20px 0px;
    margin: 0;
    float: left;
}
.site-title a {
    color: #000;
    font-size: 0.8em !important;
    text-decoration: none;
    text-transform: uppercase;
    float: left;
    margin-right: 20px;
    padding: 14px 0;
    display: block;
}
.site-title.logo a {
    float: none;
    margin-right: 0;
}
.site-description {
    margin: 0;
    font-size: 15px;
    font-weight: 300;
    line-height: normal;
    padding-top: 8px;
    display: none;
}
.site-title.logo.smaller-img {
    padding: 0;
    -webkit-transition: all 0.2s ease-in;
       -moz-transition: all 0.2s ease-in;
            transition: all 0.2s ease-in;
}
.site-branding .logo img {
    max-height: 40px;
    font-size: 14px;
    float: left;
    -webkit-transition: all 0.2s ease-in;
       -moz-transition: all 0.2s ease-in;
            transition: all 0.2s ease-in;
}
.sticky .site-branding .logo {
    padding: 0;
}
.sticky .site-title.logo img {
    height: 50px;
}
.site-title.logo.smaller-img img {
    height: 50px;
}
.navbar-default {
    border-radius: 0;
    margin-bottom: 0;
    border: none;
    background: none;
}
.navbar-header h1,
.navbar-header h2,
.navbar-header h3 {
    margin: 0;
}
.navbar-header h2,
.navbar-header h3 {
    font-size: 15px;
    text-align: center;
    color: #857777;
    line-height: 26px;
    font-weight: 100;
    text-align: left;
}
.navbar-default .navbar-header .navbar-brand {
    color: #f05f40;
    font-weight: 700;
    text-transform: uppercase;
}
.main-menu-wrapper {
    background-color: #eaeff3;
    border-bottom: 1px solid #dde4ea;
}
.navbar-fixed-top .main-menu-wrapper {
    border: none;
}
.wrapper-branding {
    width: 100%;
    height: auto;
    background-color: #f5f5f5;
    position: relative;  
}
.nav-menu li a,
.main-navigation .navbar-nav li a {
    text-transform: uppercase;
    color: #333;
    font-weight: 600;
    font-size: 14px;
    border-left: 1px solid #dde4ea;
    padding: 14px 18px;
    -webkit-transition: all 0.3s ease;
       -moz-transition: all 0.3s ease;
         -o-transition: all 0.3s ease;
            transition: all 0.3s ease;
}
.nav-menu li a {
    position: relative;
    display: block;
}
.main-menu-wrapper .nav > li:first-child a {
    border-left: 0;
    padding-left: 0;
}
.main-navigation ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
.main-navigation li ul {
     width: 170px;
    background: rgba(255,255,255,1);
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    left: -5px;
    display: none;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    border-top: 1px solid #F5F3F3;
    border-radius: 2px;
    z-index: 9;
}
.main-navigation li li ul {
    left: 170px; 
    top: -1px; 
}
.main-navigation li:hover > ul,
.main-navigation li li:hover > ul {
    display: block;
}
.main-navigation li li {
    float: none;
    padding: 0;
    width: 100%;
    border-bottom: 1px solid #e7e7e7;
    margin-right: 0;
    position: relative;
}
.main-navigation li.current-menu-item > a,
.main-navigation li:hover > a,
.main-navigation li li:hover > a {
    color: #3368c4;
}
.main-navigation li li a {
    color: #6a706e;
    padding: 12px 20px;
    margin: 0;
    text-align: left;
    font-weight: 600;
    position: relative;
    width: 100%;
    display: inline-block;
    word-wrap: break-word;
    box-sizing: border-box;
    -webkit-transition: all .25s;
       -moz-transition: all .25s;
            transition: all .25s;
}
#masthead ul#menu-main-menu  .menu-item-has-children > a {
    position: relative;
}
#masthead ul#menu-main-menu  > .menu-item-has-children > a:after {
    color: #333;
    content: ' ▾';
    position: absolute;
    right: 5px;
    top: 15px;
    display: block;
    -webkit-transition: all 0.1s ease-in;
       -moz-transition: all 0.1s ease-in;
            transition: all 0.1s ease-in;  
}
#masthead ul#menu-main-menu  > .menu-item-has-children:hover > a:after,
#masthead ul#menu-main-menu ul .menu-item-has-children:hover > a:after {
    -ms-transform: rotate(30deg); /* IE 9 */
    -webkit-transform: rotate(30deg); /* Safari */
    transform: rotate(30deg); /* Standard syntax */
}
#masthead ul#menu-main-menu ul .menu-item-has-children > a:after {
    color: #333;
    content: ' ▾';
    position: absolute;
    right: 13px;
    -webkit-transition: all 0.1s ease-in;
       -moz-transition: all 0.1s ease-in;
            transition: all 0.1s ease-in;
}
.custom-subscribe-box {
    position: absolute;
    right: 0;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #36a8ff;
    float: right;
}
.custom-subscribe-box a {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    color: #fff;
    padding: 14px 20px;
    display: block;
}
.custom-subscribe-box a i {
    margin-right: 4px;
}
.blog .main_sign:after,
.search .main_sign:after,
.page .main_sign:after {
    right: -544px;
}

/*-------------------------------
# Mobile Menu
--------------------------------*/
.mobile-only {
    width: 18px;
    height: 20px;
    font-size: 16px;
    margin: 32px 0;
    overflow: hidden;
    color: #fff;
    cursor: pointer;
}
.toggle-mobile-menu {
    display: none;
}
.menu-item-has-children .arrow-sub-menu  {    
    margin-left: 5px;
    font-size: 11px;
    display: inline-block;
    top: 14px;
}
#menu-main-menu ul .menu-item-has-children .arrow-sub-menu {
    display: block;    
    margin-top: 5px;
    position: absolute;
    right: 17px;
    bottom: 16px;
}
.wrap-contact-header .call-contact,
.wrap-contact-header .mail-contact {
    width: auto;
    float: right;
    text-align: center;
    padding: 16px;
}
.wrap-contact-header .mail-contact {
    border-left: 1px solid #dde4ea;
}
.wrap-contact-header .call-contact i,
.wrap-contact-header .mail-contact i {
    font-size: 24px;
    color: #36a8ff;  
}
.call-contact .call-us-content,
.mail-contact .mail-to-content {
    font-size: 18px;
    color: #414950;
    font-weight: 700;
    display: inline-block;
}
.call-contact .call-us-content span,
.mail-contact .mail-to-content span {
    display: block;
    font-size: 12px;
    color: #96a2ac;
    text-align: right;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 18px;
}

/*-------------------------------
# Wrapper
--------------------------------*/
.wrapper {
    width: 100%;
    webkit-transition: -webkit-transform 500ms ease;
           transition: -webkit-transform 500ms ease;
                   transition: transform 500ms ease;
}
.sidebar-left .content-left {
    float: right;  
}
.sidebar-left .sidebar-right {
    float: left;
}
.no-sidebar .content-left {
    float: none;
    margin: 0 auto;
}
.sidebar-left .content-left .sharing-top-float .tc-social-sharing {
    right: 0;
}
.intro-banner {
    background-color: #e00;
    position: relative;
    width: 100%;
    height: 500px;
    text-align: center;
    color: #fff;
    background-position: top center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}
.intro-banner .header-content {
    position: relative;
    width: 100%;
    padding: 100px 15px;
    text-align: center;
}
.intro-banner .header-content .header-content-inner h2 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 54px;
    margin-top: 0;
    margin-bottom: 20px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
.intro-banner .header-content .header-content-inner p {
    font-size: 16px;
    margin-bottom: 20px;
    line-height: normal;
}
.text-faded,
.intro-banner .header-content .header-content-inner p {
    color: #fff;
}
.btn {
    border-radius: 300px;  
    font-weight: 700;   
    margin: 14px 0;
    background-color: #3899D1;
    color: #fff;
    border: 1px solid #fff;
}
.btn:hover {
    border-color: #3899d1;
    color: #3899d1;
    background: #fff;
}
.btn-xl {
    padding: 15px 30px;
}
.btn-primary {
    background-color: #F05F40;
    color: #fff;
    border-color: #f05f40;
}
.section-title {
    font-size: 38px;
    margin-top: 0;
    text-transform: uppercase;
    position: relative;
}
.bottom-border {
    margin-bottom: 40px;
}
.bottom-border:after {
    content: '';
    position: absolute;
    bottom: -22px;
    background: #42a5f6;
    width: 80px;
    height: 3px;
    left: 50%;
    margin-left: -40px;
}
.featured-apps .bottom-border:after {
    background: #fff;
}
.white:after {
    background-color: #fff;
}
.service-box {
    margin: 50px auto 0;
    max-width: 500px;
}
.text-primary {
    color: #F05F40;
}
.service-box p {
    margin-bottom: 0;
}

.latest-blogs-section .latest-blog img {
    max-width: inherit;
    width: 100%;
}

/*-------------------------------
# Portfilio
--------------------------------*/
.no-padding {
    padding: 0;
}
.no-gutter > [class*=col-]{
    padding-left: 0;
    padding-right: 0;
}
.latest-blog {
    display: block;
    position: relative;
    margin: 0 auto;
    width: 100%;
    overflow: hidden;
}
.latest-blog-caption {
    position: absolute;
    color: #fff;
    background: rgba(240,95,64,.6);
    width: 100%;
    height: 100%;
    padding: 8%;
    bottom: 0;
    text-align: center;
    display: block;
    opacity: 0;
    -webkit-transition: all .35s;
       -moz-transition: all .35s;
            transition: all .35s;
}
.latest-blog .latest-blog-content {
    width: 84%;
}
.latest-blogs-section .project-title {
    color: #fff;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
    margin: 0 0 10px 0;
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
}
.latest-blog:hover .latest-blog-caption {
    opacity: 1;
}
.c-overlay-content {
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    padding: 0;
    height: auto;
    width: 95%;
}
.c-overlay-content i {
    display: inline-block;
    width: 44px;
    height: 44px;
    border-radius: 44px;
    text-align: center;
    color: #fff;
    padding: 14px 6px 8px 6px;
    opacity: 0.7;
    background: #000000;
    margin: 0 5px;
    filter: alphaopacity=70;
}
.c-overlay-content i:hover {
    opacity: 1;
}
.site-view-more {
    width: 100%;
    padding: 30px 0; 
}

/*----------------------------
# Feature-knowMore
------------------------------*/
.feature-knowmore {
    background: #222;
    color: #fff;
}
.project-name p {
    font-size: 14px;
}

/*----------------------------
# Site-footer
----------------------------*/
.site-footer {
    width: 100%;
    position: relative;
    background-color: #373737;
}
.nav-footer {
    padding: 32px 0;
    line-height: 0;
}
.menu-footer,
.footer-social-area {
    position: relative;
    margin: 0 auto;
    display: inline-block;
}
.menu-footer ul,
.footer-social-area ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
.menu-footer ul li,
.footer-social-area ul li {
    float: left;
}
.menu-footer ul li a {
    padding: 10px;
    display: block;
    font-weight: 400;
    color: #B7B7B7;
    -webkit-transition: all 0.25s linear;
        -moz-transition: all 0.25s linear;
            transition: all 0.25s linear;
}
.menu-footer ul li:hover a,
.copyright a:hover {
    text-decoration: underline;
}
.copyright {
    text-align: center;
}
.copyright p {
    margin-bottom: 0;
    font-weight: 300;
}
.copyright a,
.copyright .sep {
    color: #B7B7B7;
    float: left;
}
.copyright .sep {
    margin: 0 10px;
}
footer .social-area,
.copyright {
    padding: 30px 0;
}
footer .social-area .btn-social {
    color: #9a9a9a;
    font-size: 26px;
    padding: 11px 12px;
    font-weight: 600;
    line-height: 1;
}

/*----------------------------
# Footer Widget
----------------------------*/
.site-footer-widget {
    width: 100%;
    padding: 20px 0;
    background-color: #1D1C1C;
}
footer .widget ul li {
    border-bottom: 1px solid #4E4D4D;
}
footer .widget h2 {
    color: #DCDBDB;
}
footer .widget ul li a,
footer .tagcloud a {
    color: #fff;
}
footer .widget h2 {
    border-color: #44484A;
    font-weight: 400;
}
footer .comment-author-link {
    color: #fff;
    text-transform: capitalize;
    font-size: 16px;
}
footer .recentcomments {
    color: #c1c1c1;
    font-weight: normal;
    font-size: 16px;
}
footer .widget .tagcloud a:hover {   
    color: #fff;
}
footer .widget .popular-post-meta,
footer .widget .recent-post-meta {
    color: #c1c1c1;
}
footer .widget ul.sub-menu li a {
    padding-left: 13px;
}
footer .sub-menu li:last-child {
    border-bottom: none;
}

/*-------------------
# Section Member
-------------------*/
.tc-team-member {
    position: relative;
    overflow: hidden;
    border-radius: 4px;
    text-align: center;
    margin-bottom: 30px;
}
.tc-team-member a:hover .profile-pic {
    opacity: 0.6;
}
.tc-team-member .profile-pic {
    width: 174px;
    height: 174px;
    border-radius: 50%;
    overflow: hidden;
    margin: auto;
    margin-bottom: 25px;
    margin-top: 0;
    margin-bottom: 0;
    -webkit-transition: all 0.25s linear;
            transition: all 0.25s linear;
}
.member-detail .member-title {
    color: #404040;
    text-align: center;
    position: relative;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    display: inline-block;
    margin: 16px 0;
}
.member-detail .member-title:before {
    content: '';
    position: absolute;
    width: 60%;
    height: 2px;
    margin-left: -30%;
    left: 50%;
    bottom: -10px;
}
.member-detail .position {
    font-size: 14px;
    color: #777;
    margin: 0;
    padding: 0;
}
.member-social-icon ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
.member-social-icon ul li {
    display: inline-block;
    margin: 6;
    line-height: 32px;
}
.member-social-icon ul li a {
    padding: 15px 6px;
    font-size: 17px;
}

/*-------------------
# Back To Top
--------------------*/
.back-to-top {
    width: 56px;
    height: 56px;
    position: fixed;
    right: 30px;
    bottom: 70px;
    border-radius: 50px;
    cursor: pointer;
    background: #36A8FF;
    border: 3px solid rgba(255,255,255,0.8);
}
.back-to-top .fa {
    color: #FFFFFF;
    font-size: 30px;
    margin-left: 11px;
    margin-top: 10px;
}

/*-----------------------
# Welcome to Businses
------------------------*/
.facility-item > div {
    overflow: hidden;
    -webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
              will-change: transform; 
}
.facility-item > div:hover + span {
    display: none;
}
.wrap-box-list {
    width: 100%;
    text-align: center;
    padding: 12% 0 0 0;
    max-width: 970px;
    margin: 0 auto;
}
.wrap-row {
    width: 100%;
    float: left;
}
.clean-list li {
    width: 238px;
    padding: 0;
    display: inline-block;
    text-align: center;
    float: none;
    margin-top: -116px;
}
.facility-item {
    padding: 16%;
}
.shape-square {
    display: block;
    text-align: center;
    position: relative;
    overflow: hidden;
    margin: 1px 0;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
}
.lightblue {
    background-color: #4fabbc;
}
.facility-item .shape-square figure {
    margin: 0 auto;
    -webkit-transform: rotate(-45deg) scale(1.4);
       -moz-transform: rotate(-45deg) scale(1.4);
        -ms-transform: rotate(-45deg) scale(1.4);
            transform: rotate(-45deg) scale(1.4);
    will-change: transform;
}
.facility-title {
    width: 80%;
    margin: 0 auto;
    line-height: 24px;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 0;
    right: 0;
    font-family: 'Open Sans';
    text-shadow: 0 1px 2px rgba(0,0,0,0.4);
    -webkit-transform: translate3d(0, -50%, 0);
       -moz-transform: translate3d(0, -50%, 0);
        -ms-transform: translate3d(0, -50%, 0);
            transform: translate3d(0, -50%, 0);
}
.more-link-wrapper {
    position: absolute;
    left: 14%;
    top: 14%;
    width: 72%;
    height: 72%;
    text-align: center;
    overflow: hidden;
    -webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
         -o-transform: rotate(45deg);
            transform: rotate(45deg);
}
.more-info-link {
    background: rgba(255,175,54,.8);
    vertical-align: middle;
    font-weight: 400;
    opacity: 0;
    width: 100%;
    height: 100%;
    display: block;
    -webkit-transition: all .5s ease;
       -moz-transition: all .5s ease;
        -ms-transition: all .5s ease;
         -o-transition: all .5s ease;
            transition: all .5s ease;
    -webkit-transform: translateY(100%);
       -moz-transform: translateY(100%);
        -ms-transform: translateY(100%);
         -o-transform: translateY(100%);
            transform: translateY(100%);
}
.more-info-link span {
    position: absolute;
    transform: rotate(-45deg);
    top: 26%;
    left: 38%;
    font-size: 38px;
    color: #ffffff;
}
.more-info-link:hover, .more-info-link:focus {
    color: #ffffff;
}
.more-link-wrapper:hover .more-info-link {
    opacity: 1;
    -webkit-transform: translateY(0%);
       -moz-transform: translateY(0%);
        -ms-transform: translateY(0%);
         -o-transform: translateY(0%);
            transform: translateY(0%);
}

/*----------------------------
# Sidebar
-----------------------------*/
.widget-area {
    width: 100%;
    float: right;
    padding: 0;
}
.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
}
.widget .search-form .search-submit {
    display: none;
}
.search-form .search-field {
    width: 223px;
    height: 38px;
    border-radius: 0;
    margin: 0;
    float: left;
    padding: 2% 4%;
}
.widget .search-form .search-field,
.page-content .search-form .search-field {
    width: 100%;
    max-width: 359px;
    border: 1px solid #f5f5f5;
    font-weight: normal;
    background-color: #f5f5f5;
}
.widget {
    margin: 0 0 1.3em;
    width: 100%;
    float: left;
}
label {
    margin: 0;
    display: inline;
    vertical-align: top;
}
.comment-form label {
    display: block;
}
.widget h2 {
    text-transform: uppercase;
    border-bottom: 1px solid #DADADA;
    padding-bottom: 10px;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    margin:0px 0 20px 0;
}
.widget ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.widget ul li {
    float: left;
    width: 100%;
    padding: 5px 0 5px 20px;
    border-bottom: 1px solid #eee;
    position: relative;
}
.widget ul li a {
    display: block;
    margin-bottom: 5px;
    color: #333;
}
.widget ul li:before {
    content: '';
    width: 6px;
    height: 6px;
    position: absolute;
    background-color: #333;
    left: 0;
    margin-top: 7px
}
.site-footer .widget ul li:before {
    background-color: #fff;
}
.widget ul li.thumbnail-widget {
    padding-left: 0;
}
.widget ul li.thumbnail-widget:before {
    background-color: transparent;
}
.tagcloud a {
    background: transparent;
    padding: 6px 7px;
    display: inline-block;
    border-radius: 2px;  
    font-size: 14px !important;
    margin-bottom: 5px;    
    font-weight: 400;
    line-height: 1.2;
    font-size: 15px;
    margin-left: 1px;
    border: 1px solid #eee;
    text-transform: capitalize;
    color: #333;
    -webkit-transition: all .2s ease-out;
       -moz-transition: all .2s ease-out;
        -ms-transition: all .2s ease-out;
         -o-transition: all .2s ease-out;
            transition: all .2s ease-out;    
}
.tagcloud a:hover {
   opacity: 0.7;
}
.widget .post-img {
    float: left;
}
.widget .post-img img {
    margin-right: 10px;
    padding-top: 6px;
    width: 110px;
}
.widget .post-data {
    margin-bottom: 0;
    font-weight: normal;
}
.widget .recent-post-meta,
.widget .popular-post-meta,
.entry-meta {
    color: #666;
    font-style: italic;
    font-size: 14px;
    line-height: normal;
    margin-bottom: 5px;
}
.entry-header .entry-meta {
    padding: 8px 0;
}
.entry-header .entry-title {
    margin-top: 0;
    text-transform: uppercase;
}
.page .entry-header .entry-title {
    margin-bottom: 20px;
}
.tc-social-sharing {
    margin-top: 10px;
    clear: both;
}
.tc-social-icons {
    padding: 0;
    margin: 0;
    list-style: none;
    overflow: hidden;
}
.tc-social-icons li {
    float: left;
    margin: 0 10px 10px 0;
    min-width: 106px;
}
.tc-social-icons .facebook a {
    background-color: rgba(61, 90, 152, 0.60);
}
.tc-social-icons .twitter a {
    background-color: rgba(9, 176, 237, 0.60);
}
.tc-social-icons .googleplus a {
    background-color: rgba(209, 71, 53, 0.60);
}
.tc-social-icons .linkedin a {
    background-color: rgba(3, 90, 135, 0.60);
}
.tc-social-icons .pinterest a {
    background-color: #cb2027;
}
.tc-social-icons li a {
    color: #fff;
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    padding: 0 10px 0 10px;
    font-size: 11px;
    line-height: 28px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased;
    -webkit-transition: background-color .2s ease-in-out;
       -moz-transition: background-color .2s ease-in-out;
         -o-transition: background-color .2s ease-in-out;
            transition: background-color .2s ease-in-out;
}
.tc-social-icons li a i {
    position: absolute;
    left: 10px;
    font-size: 16px;
    line-height: 28px;
}
.tc-social-icons li .text {
    font-size: 12px;
    font-weight: bold;
    margin-left: 18px;
}

/*---------------------------------------
# Social Sharing Button (Single Page)
-----------------------------------------*/
.tc-social-sharing.social-sharing-left a {
    text-transform: capitalize;
    text-align: left;
    width: 36px;
    overflow: hidden;
    padding: 0 20px
}
.tc-social-sharing.social-sharing-left a i {
    left: 13px;
}

/*---------------------------------------
# Article
----------------------------------------*/
.page-content {
    text-align: center;
}
.page-header {
    margin: 0 0 10px 0;
    padding: 0 0 10px 0;
    border: none;
}
.page-header.not-found-title,
body.archive .page-header,
body.search .page-header {
    background: #f5f5f5;
    text-align: center;
    padding: 30px 0;
    margin: 30px 0;
}
.page-header.not-found-title h1.page-title,
body.archive .page-header h1.page-title,
body.search .page-header h1.page-title {
    color: #42a5f6;
}
h1.page-title {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 28px;
    line-height: 40px;
}
.result-search {
    width: 100%;
    margin-bottom: 40px;
    margin-top: 40px;
}
.search-subtitle-holder {
    padding: 40px;
    margin: 0;
    position: relative;
    display: block;
    background-color: #F5F5F5;
}
.search-subtitle-holder .search-title p {
    color: #464646;
    font-size: 40px;  
    vertical-align: middle;
    text-transform: uppercase;
    margin: 10px 0;
    color: #42a5f6;   
}
.result-search-list {
    font-size: 11px; 
    padding-right: 20px;
}
.result-search-list h1 { 
    font-size: 22px;      
    color: #464646;
    margin: 26px 0;
    text-transform: uppercase;
    padding-top: 2px;
}
.result-search-list .result-search-title {
    color: #08c;
    text-transform: none;
}
.post-item {
    width: 100%;
    float: left;
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
    margin: 0 0 20px 0;
}
.entry-content {
    width: 100%;
    height: auto;
}
.content-area ul li {
    line-height: 1.5;
    margin-bottom: 5px;
}
.entry-content:before,
.entry-content:after {
    content: " ";
    display: table;
}
.entry-blog {
    width: 100%;
    float: left;
}
.post-thumbnail {
    width: 300px;
    margin-top: 6px;
    float: left;
    margin-right: 20px;
}
.post-entry-data {
    float: left;
    width: 415px;
}
.entry-header {
    position: relative;  
    width: 100%;
}
.entry-title a,
.single-post .entry-title {
    text-transform: uppercase;
}
.post-entry-data h2 {
    font-size: 24px;
    line-height: normal;
    margin-bottom: 10px;
    margin-top: 0;
}
.post-excerpt {
    margin-bottom: 20px;
}
.post-excerpt .more-link {
    float: right;
}
.post-excerpt .more-link,
.nav-previous a,
.nav-next a,
input[type="submit"],
.nav-links .page-numbers {
    padding: 10px 20px;
    border-radius: 3px;
    color: #fff;
    font-size: 14px; 
    background-color: #42a5f6;
    border: 1px solid #42a5f6;
    border-bottom: 2px solid #0b80e1;
    display: inline-block;
    text-transform: uppercase;
    line-height: 15px;
    -webkit-transition: all 0.25s ease;
       -moz-transition: all 0.25s ease;
            transition: all 0.25s ease;
}
.no-results p {
    text-align: left;
}
.search-no-results .search-form {
    position: relative;
}
.no-results .search-form .search-field {
    padding-left: 2%;
}
.search-no-results input[type="submit"] {
    position: absolute;
    left: 47%;
}
.nav-links .page-numbers {
    margin-right: 6px;
}
.nav-links .page-numbers i {
    margin-right: 4px;
}
.nav-links .page-numbers.current {
    background: #616467;
    border: 1px solid #616467;
    border-bottom: 2px solid #4F5254;
    padding: 12px 22px;
}
.nav-links.next-prev-post .nav-previous a,
.nav-links.next-prev-post .nav-next a {
    color: #fff;
    margin: 0;
}
.post-excerpt .more-link:hover,
.blog .nav-previous a:hover,
.blog .nav-next a:hover,
input[type="submit"]:hover {
    opacity: 0.8;
}

#load-more-wrap {
    width: 100%;
    float: left;
    margin: 20px 0;
    text-align: center;
    border: 1px solid #42A5F6;
    border-radius: 3px;
    border-bottom: 2px solid #0B80E1;
}
#load-more-wrap a {
    display: block;
    color: #fff;
    padding: 10px;
    font-size: 16px;
}
.btn.capitalize:hover {
    color: #fff;
}

/*----------------------------------
# Related posts (Single Page)
-----------------------------------*/
.related-post-single {
    width: 100%;
    margin: 0;
    padding: 0;
}
.related-post-single li {
    width: 100%;
    float: left;  
    margin-bottom: 20px;
    border: 1px solid #dadada;
    padding: 5px;
    list-style: none;
    box-sizing: border-box;
}
.related-entry .thumbnail-relate {
    float: left;    
    margin-right: 20px;
    display: block;
}
.related-entry h2 {
    margin: 5px 0;
}
.related-entry h2 a {
    color: #333;
    font-size: 20px;
    font-weight: normal;
    text-transform: uppercase;
    display: block;
}
.related-entry {
    float: left;
    width: 100%;
}
.related-entry .entry-meta .fa {
    float: left;
    margin-top: 3px;
    margin-right: 5px;
}
.related-entry .entry-meta .info-posted {
    font-size: 14px;
    color: #949494;    
    float: left;
    display: block;
    margin-right: 13px;
}
.related-entry .entry-meta span a {
    font-size: 14px;
    color: #949494;
    float: left;
}
.related-entry .entry-meta span .info-set {
    float: left;
    margin-right: 5px;
}
.related-post-single .thumbnail-relate img {
    width: 170px;
    height: auto;
}

/*----------------------------------
# Section Sponsor
-----------------------------------*/
section.site-sponsor{
    padding: 0;
}
.row-logos-carousel {
    padding: 35px 0;
    background: #f6f6f6;
}
#owl-demo .item{
  padding: 0;
  margin: 0 10px;
  color: #FFF;
  text-align: center;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
}
.customNavigation{
  text-align: center;
}

/*----------------------------------
# Ugly Selection
-----------------------------------*/
.customNavigation a{
  -webkit-user-select: none;
   -khtml-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.owl-carousel .owl-wrapper .owl-item .item:not(:hover) img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

/*-----------------------------------------------
# Feature Contact Home
-------------------------------------------------*/
section.feature-contact {
    padding: 30px 0;
    background-color: #44484a;
}
.social-links-home {
    width: 50%;
    float: left;
}
.contact-info-home {
    width: 50%;
    float: right;
    text-align: right;
    line-height: 30px;
    color: #e1e7e7;
    font-weight: 300;
    font-size: 15px;
}
.contact-info-home i {
    font-size: 18px;
    margin-right: 10px;
    vertical-align: -20%;
    color: #e1e7e7;
}
.contact-info-home .sep {
    display: inline-block;
    margin: 0 25px;
    height: 24px;
    border-left: 1px solid #e1e7e7;
    vertical-align: -25%;
}
.contact-info-home a {
    color: #e1e7e7;
}
.contact-info-home a:hover {
    text-decoration: underline;
}
.social-links-home .social-link i.fa {
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    text-align: center;
    -webkit-transition: -webkit-transform .3s;
          -moz-transition: -moz-transform .3s;
              -o-transition: -o-transform .3s;
                    transition: transform .3s;
}
.social-links-home .social-link {
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    text-align: center;
    overflow: hidden;
    color: #fff;
}
.social-links-home .social-link:hover i.fa {
    -webkit-transform: translateY(-100%);
       -moz-transform: translateY(-100%);
         -o-transform: translateY(-100%);
            transform: translateY(-100%);
}
.social-links-home .social-link:before {
    display: none;
}
.social-links-home .social-link:not(:last-child) {
    margin-right: 8px;
}
.social-links-home .social-link.fa-facebook,
.sidebar .social-link.facebook {
    background-color:#507cbe;
}
.social-links-home .social-link.fa-twitter,
.sidebar .social-link.twitter {
    background-color:#00abef;
}
.social-links-home .social-link.fa-flickr,
.sidebar .social-link.flickr {
    background-color:#ff0084;
}
.social-links-home .social-link.fa-google-plus,
.sidebar .social-link.google {
    background-color:#cb4437;
}
.social-links-home .social-link.fa-vimeo-square,
.sidebar .social-link.vimeo-square {
    background-color:#1ab7ea; 
}
.social-links-home .social-link.fa-linkedin,
.sidebar .social-link.linkedin {
    background-color:#00649b;
}
.social-links-home .social-link.fa-dribbble,
.sidebar .social-link.dribbble {
    background-color:#f76799;
}
.social-links-home .social-link.fa-pinterest-p,
.sidebar .social-link.pinterest {
    background-color:#ce1f20;
}
.social-links-home .social-link.fa-instagram,
.sidebar .social-link.instagram {
    background-color:#b1977e;
}
.social-links-home .social-link.fa-youtube {
    background-color: #C52F30;
}
.social-links-home .social-link.fa-vimeo {
    background-color: #229ACC;
}
.social-links-home .social-link.fa-tumblr {
    background-color: #314E6C;
}
.social-links-home .social-link.fa-vine {
    background-color: #00bf8f;
}
.social-links-home .social-link.fa-slideshare {
    background-color: #00649b;
}
.social-links-home .social-link.fa-reddit {
    background-color: #CEE3F8;
}
.social-links-home .social-link.fa-wordpress {
    background-color: #229ACC;
}

/*-------------------------
# Service Slide or Feature
--------------------------*/
.wrapper-service-slide {
    width: 100%;
    position: relative;
}
.feature-service-box {
    position: relative;
    color: #444;
    margin-top: 30px;
    padding: 0 15px;
}
.feature-service-box:hover .service-box-shape:before {
    opacity: 1;
}
.feature-service-box .service-box-shape a {
    background: #42A5F6;
}
.feature-service-box:hover .service-box-shape a {
    background-color: #fff;
    -webkit-transform: scale(1.1);
       -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
         -o-transform: scale(1.1);
            transform: scale(1.1);
}
.feature-service-box .service-box-shape {
    position: absolute;
}
.feature-service-box .service-box-shape:before {
    content: "";
    display: block;
    position: absolute;
    height: 70px;
    width: 70px;
    top: 0;
    left: 7px;
    border-radius: 50%;
    opacity: .3;
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
       -webkit-transition: .5s;
          -moz-transition: .5s;
           -ms-transition: .5s;
            -o-transition: .5s;
               transition: .5s;
}
.feature-service-box .service-box-shape a  {
    position: absolute;
    height: 60px;
    width: 60px;
    color: #42A5F6;
    top: 5px;
    left: 12px;
    display: block;
    text-align: center;
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
    -webkit-transition: .5s;
       -moz-transition: .5s;
        -ms-transition: .5s;
         -o-transition: .5s;
            transition: .5s;
}
.feature-service-box:hover .service-box-shape:before {
    background: #42A5F6;
}
.rm-slide-services {
    font-size: 15px;
    float: right;
    color: #42A5F6;
    margin-right: 20px;
}
.feature-service-box .service-box-shape a .fa {
    display: inline-block;
    font-size: 32px;
    color: #fff;
    margin-top: 16px;
}
.feature-service-box:hover .service-box-shape a .fa {
    color: #42A5F6;
}
.feature-service-box h3 {
    line-height: 70px;
    margin-bottom: 20px;
    padding-left: 85px;
    font-size: 21px;
    text-transform: uppercase;
    margin: 20px 0;
}
.feature-service-box p {
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
    padding: 0 10px;
    margin-bottom: 10px;
}

/*-------------------------------------
# Feature About
---------------------------------------*/
.downloads a {
    display: inline-block;
    margin: 10px 5px;
}
#about .section-title {
    font-size: 50px;
}
#about .text-faded {
    font-size: 20px;
}
#about .section-title,
#about .text-faded {
    font-weight: lighter;
}
.customNavigation .owl-prev {
    left: 0;
    opacity: 0;
}
.customNavigation .owl-next {
    right: 0;
    opacity: 0;
}
#features .customNavigation .owl-prev,
#features .customNavigation .owl-next {
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}
#features .customNavigation .owl-next,
#features .customNavigation .owl-prev {
    position: absolute;
    width: 44px;
    height: 44px;
    border: 2px solid #42A5F6;
    top: 50%;
    text-align: center;
    line-height: 44px;
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
    -webkit-transition: left .5s ease-in .5s, right .5s ease-in .5s, opacity .5s ease-in .5s;
       -moz-transition: left .5s ease-in .5s, right .5s ease-in .5s, opacity .5s ease-in .5s;
         -o-transition: left .5s ease-in .5s, right .5s ease-in .5s, opacity .5s ease-in .5s;
            transition: left .5s ease-in .5s, right .5s ease-in .5s, opacity .5s ease-in .5s;
}
#features .customNavigation .owl-prev  {
    margin-top: -13px;
}
#features .customNavigation .owl-next {
    margin-top: -13px;
}
#features .customNavigation .owl-prev i,
#features .customNavigation .owl-next i {
    color: #42A5F6;
    font-size: 24px;
    font-weight: bold;
}
.wrapper-service-slide:hover .customNavigation .owl-prev {
    left: -50px;
    opacity: 1;
}
.wrapper-service-slide:hover .customNavigation .owl-next {
    right: -40px;
    opacity: 1;
}

/*-----------------------------------------------
# Portfilio
------------------------------------------------*/
.col-portfolio {
    margin-bottom: 30px;
}
.head-section {
    padding: 20px 0;
}
.portfolio-title.bottom-border:after {
    margin-left: -42px;
}
.portfolio-inner {
    margin-bottom: 40px;
}
.portfolio-inner .post-thumb {
    border: 1px solid #e1e1e1;
}
.portfolio-inner .posts-navigation {
    width: 100%;
    display: inline-block;
    padding: 0 16px 20px 16px;
}
.overlay-portfo  .post-data {
    position: absolute; 
    background: rgba(240,95,64,.6);
    width: 100%;
    height: 100%;
    text-align: center;
    bottom: 0;
    display: block;
    opacity: 0;
    -webkit-transition: all .35s;
       -moz-transition: all .35s;
            transition: all .35s;
}
.overlay-portfo .post-data .post-data-title a {
    color: #fff;
}
.post-data .post-data-title {
    text-transform: uppercase;
    font-size: 18px;
    margin: 0;
}
.overlay-portfo {
    display: block;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    position: relative;
}
.overlay-portfo .post-data-in {
    width: 100%;
    padding: 20px;
    top: 50%;
    position: absolute;
    box-sizing: border-box;
    transform: translateY(-150%);
    -webkit-transition: all .35s;
       -moz-transition: all .35s;
            transition: all .35s;
}
.overlay-portfo .overlay-link {
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    padding: 0;
    height: auto;
    top: 55%;
    width: 100%;
    left: 0;
    position: absolute;
    -webkit-transition: all .35s;
       -moz-transition: all .35s;
            transition: all .35s;
}
.overlay-link a {
    margin: 0 30px;
    -webkit-transition: all 0.35s linear;
       -moz-transition: all 0.35s linear;
         -o-transition: all 0.35s linear;
            transition: all 0.35s linear;
}
.overlay-link i {
    display: inline-block;
    width: 44px;
    height: 44px;
    border-radius: 44px;
    text-align: center;
    color: #fff;
    padding: 13px 6px 8px 6px;
    background-color: transparent;
    border: 2px solid #fff;
    margin: 0 5px;
    filter: alphaopacity=70;
    -webkit-transition: all .35s ease-in;
       -moz-transition: all .35s ease-in;
         -o-transition: all .35s ease-in;
            transition: all .35s ease-in;
}
.overlay-link i:hover {
    background-color: rgba(255,255,255,.5);
}
.overlay-portfo:hover .post-data {
        opacity: 1;    
}
.overlay-portfo:hover .overlay-link a {
    margin-left: 1px;
    margin-right: 2px;
}
.overlay-portfo .post-data .post-data-title a:hover {
    color: rgba(255,255,255, .8); 
}
.overlay-portfo:hover .post-data-in {
    opacity: 1;
    transform: translateY(-80%);
    filter: alphaopacity=100;
}

div.pp_default .pp_content_container .pp_details {
    margin: 0;
}
div.pp_default .pp_description {
    margin: 12px auto;
    text-align: center;
}

/*----------------------------------------
# Comment Reply
------------------------------------------*/
.comment-list article {
    margin-bottom: 10px;
}
.comment-meta a {    
    font-size: 14px;
}
.comment-metadata > a {
    color: #999;
}
.comment-body .comment-content p {
    margin-bottom: 10px;
}
.reply a {
    color: #999;
    font-size: 14px;
}
.comment-metadata > a:hover,
.reply a:hover {
    color: #36a8ff;
}
.comments-area .comments-title,
.comment-author .fn {
    text-transform: capitalize;
}
